nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.logo {
    margin-left: 20px;
    font-size: 26px;
}
.nav-links {
    display: flex;
    gap: 20px;
}



.card {
    display: flex;
    gap: 10px;
    flex: 1;
}

.box {
    width: 300px;
    height: 150px;
    border: 2px solid firebrick;
    flex-grow: 1;
}

.header {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 29px;
    border: 2px solid firebrick;
    margin-top: 20px;
}

.content {
    display: flex;
    gap: 20px;
}

.main-content {
    margin-top: 20px;
    border: 2px solid fuchsia;
    height: 600px;
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
}

.side-bar {
    margin-top: 20px;
    height: 600px;
    border: 2px solid firebrick;
    flex: 1;
    text-align: center;
}

.footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 29px;
    border: 2px solid firebrick;
    margin-top: 20px;
}